
*
{
    margin: 0;
    padding: 0;
}

body{
margin: 0;
font-family: sans-serif;
background: #ddd;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.modelo{
    width: 500px;
    max-width: 500px;
    background: white;
    padding: 20px;
 
    border-radius: 4px;
}

.titulo{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.7em;
    text-align: center;
}

.labele, .inpue{
    display: block;
}
.labele{
    width: 40%;
    
}
.inpue{
    width: 60%;
    padding: 5px;
    font-size: 1em;
}
.container{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.tabla{
    border: solid 1px #000839;
    border-spacing: 0;
    margin: 45px;
    
}

.tabla thead tr{
    background: #005082;
    color:white;
  
}

.tabla th, .tabla td{
    min-width: 150px;
    text-align: center;
    padding: 0.3rem;
}
.boton{
    width: 100%;
    background: #00a8cc;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.boton:hover{
    background:#005082; 
    cursor: pointer;
}

.labe{
    margin-left:  20px;
   margin-right: 20px;
}